<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'about' %}">About Us</a>
    <a href="{% url 'donate' %}">Donate</a>

    <h1>Donate</h1>
    <a href="{% url 'food' %}">Food Donate</a><br>

    <a href="{% url 'money' %}">Donate Money</a><br>
    
    {% if is_distributor %}
        <a href="{% url 'unsuscribe' %}"><button>Unsuscribe</button></a>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <table>
                {{suscribe_form.as_table}}
            </table>
            <input type="submit" value="Be a Distributor">
        </form>
    {% endif %}
</body>
</html>